################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1.Bookstore/.vs/WebApplication1.Bookstore/v16
/WebApplication1.Bookstore/WebApplication1.Bookstore/obj
/WebApplication1.Bookstore/WebApplication1.Bookstore
