################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGental.Bookstore/.vs/WebGental.Bookstore/v16
/WebGental.Bookstore/WebGental.Bookstore/obj
